@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font */
body {
  /* @apply font-sans; */
  width: 100%;
}

.services {
  display: none;
}

.services-container:hover .services {
  display: block;
}
